.CommentLine {
  color: #f50;
}

.UserName {
  color: #f50;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  padding-left: 10px;
}

.UserComment {
  color: #fff;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  padding-left: 10px;
}

.RightLine {
  color: #f50;
  padding-left: 10px;
}