.WaveGrid {
  display: grid;
  grid-template-rows: auto 35px; 
}

.Wave {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
}

.BottomWave {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
}


.Segment {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
}

.Mirrored {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
  align-self: flex-end;
}

.Animated {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
  align-self: flex-end;
  animation-name: top;
  animation-timing-function: linear;
}

.AnimatedLeft {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
  align-self: flex-end;
  animation-name: hoverleft;
  animation-timing-function: linear;
}

.AnimatedRight {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
  align-self: flex-end;
  animation-name: hoverright;
  animation-timing-function: linear;
}

.BottomAnimated {
  width: 2px;
  border-right: 1px solid grey;
  margin-bottom: 1px;
  z-index: 1;
  animation-name: bottom;
  animation-timing-function: linear;
}

@keyframes top {
  0% {
    background: #ffffff;
  }
  100% {
    background: #ff3500;
  }
}

@keyframes hoverleft {
  0% {
    background: #ffffff;
  }
  100% {
    background: #ffbf99;
  }
}

@keyframes hoverright {
  0% {
    background: #ffbf99;
  }
  100% {
    background: #ff3500;
  }
}

@keyframes bottom {
  0% {
    background: #e5e5e5;
  }
  100% {
    background: #ffbf99;
  }
}